.App {
  margin: 0;
  padding: 0;
}

p {
  color: #ffffff;
}

input {
  border: 0px;
}

.Header {
  height: auto;
  background-image: linear-gradient(to right, rgba(0,229,145,1), rgba(47,239,188,1));
  font-size: 2em;

}

.Container {
  width: 800px;
}

.Shopping-List {
  width: 300px;
  border: 1px solid #d3d3d3;
  margin: auto;

}

.LHeader {
  background-image: linear-gradient(to right, rgba(0,229,145,1), rgba(47,239,188,1));
  font-size: 1em;
  margin: 0;
}

.LContainer {
  margin: 0;
}